@charset "utf-8";

/* itemdetail css */
#itemdetail { clear:both;}
#itemdetail table th { padding:0; }
#itemdetail table td { padding:0; }
#itemdetail .item-thumbnail { margin:0 0 30px 0; padding:0; vertical-align:top; }
#itemdetail .social_block { margin-top:4px; }

#itemdetail .info-tab { float:left; margin:0 10px 30px 0; width:100%; }
#itemdetail .info-tab .btn_item { margin:30px 0;}
#itemdetail .info-tab .product_name { font:bold 14px NanumGothic, '나눔고딕', Gulim, Dotum, Sans-serif; color:#333; margin:0;}



 
#itemdetail .info-tab .btn_item a.btn_buynow { display:block; background:#fafafa; padding:9px 16px 10px; color:#ff8a00; font:bold 12px NanumGothic, Dotum, Sans-serif; text-align:center;-moz-box-shadow: inset 0 -5px 5px #fff,0 8px 8px -8px #a2a1a1; -webkit-box-shdow:inset 0 -5px 5px #fff,0 8px 8px -8px #a2a1a1; box-shadow:inset 0 -5px 5px #fff,0 8px 8px -8px #a2a1a1;}
#itemdetail .info-tab .btn_item a.btn_cart { display:block; background:#eaeaea; padding:9px 16px 10px; color:#585858; font:bold 12px NanumGothic, Dotum, Sans-serif; text-align:center;-moz-box-shadow: inset 0 -5px 5px #f0f0f0,0 8px 8px -8px #a2a1a1; -webkit-box-shdow:inset 0 -5px 5px #f0f0f0,0 8px 8px -8px #a2a1a1; box-shadow:inset 0 -5px 5px #f0f0f0,0 8px 8px -8px #a2a1a1;}
#itemdetail .info-tab .btn_item a.btn_apply { display:block; background:#eaeaea; padding:9px 16px 10px; color:#585858; font:bold 12px NanumGothic, Dotum, Sans-serif; text-align:center;-moz-box-shadow: inset 0 -5px 5px #f0f0f0,0 8px 8px -8px #a2a1a1; -webkit-box-shdow:inset 0 -5px 5px #f0f0f0,0 8px 8px -8px #a2a1a1; box-shadow:inset 0 -5px 5px #f0f0f0,0 8px 8px -8px #a2a1a1;}
#itemdetail .info-tab .btn_item a.btn_list { display:block; background:#eaeaea; padding:9px 16px 10px; color:#585858; font:bold 12px NanumGothic, Dotum, Sans-serif; text-align:center;-moz-box-shadow:inset 0 -5px 5px #f0f0f0,0 8px 8px -8px #a2a1a1; -webkit-box-shdow:inset 0 -5px 5px #f0f0f0,0 8px 8px -8px #a2a1a1; box-shadow:inset 0 -5px 5px #f0f0f0,0 8px 8px -8px #a2a1a1;}
#itemdetail .info-tab .btn_item a.btn_freedown { display:block; background:#fafafa; padding:9px 16px 10px; color:#ff8a00; font:bold 12px NanumGothic, Dotum, Sans-serif; text-align:center;-moz-box-shadow: inset 0 -5px 5px #fff,0 8px 8px -8px #a2a1a1; -webkit-box-shdow:inset 0 -5px 5px #fff,0 8px 8px -8px #a2a1a1; box-shadow:inset 0 -5px 5px #fff,0 8px 8px -8px #a2a1a1;}
#itemdetail .info-tab .btn_item a { float:left; margin-right:4px; }
#itemdetail .info-tab .num_input { position:relative; }
#itemdetail .info-tab .num_input input { padding:2px; width:80px; border:1px solid #ccc;}
#itemdetail .info-tab .num_input .iconUp { position:absolute; left:67px; top:1px; *top:2px;width:17px; height:10px; background:url(../img/icon_up.gif) no-repeat; cursor:pointer;}
#itemdetail .info-tab .num_input .iconDown { position:absolute; left:67px; top:9px; width:17px; height:10px; background:url(../img/icon_down.gif) no-repeat; cursor:pointer;}
#itemdetail .info-tab tr th { line-height:22px; }
#itemdetail .info-tab ul.related_items { overflow:hidden; list-style:none; margin:0; padding:0; } 
#itemdetail .info-tab ul.related_items li { float:left; padding:2px 0; } 
#itemdetail .info-tab ul.related_items li input { margin:0; margin-right:5px; } 
#itemdetail .info-tab ul.related_items li.p_orange { color:#4f97c6; font:bold 12px 'NanumGothic'; margin-left:5px; }
.iconUps {
	position: absolute;
	margin-left: 26px;
	margin-top: -21px;
	width: 17px;
	height: 10px;
	background: url(../img/icon_up.gif) no-repeat;
	cursor: pointer;
}

.iconDowns {
	position: absolute;
	margin-left: 26px;
	margin-top: -11px;
	width: 17px;
	height: 10px;
	background: url(../img/icon_down.gif) no-repeat;
	cursor: pointer;
}
#itemdetail .info-add { padding:0; width:200px; }
#itemdetail .info-add .add_area { overflow:hidden;}
#itemdetail .info-add .add_area { padding:0; margin-bottom:10px; border:1px solid #dcdcdc;} 
#itemdetail .info-add .add_area .title_eval { padding:5px 10px; text-align:center; color:#999; background:#f3f3f3; border-bottom:1px solid #dcdcdc;}
#itemdetail .info-add .add_area .latest_eval { padding:10px;  color:#999; }
#itemdetail .info-add li a { color:#666;}

#itemdetail .ko_text th { text-align:left;}
#itemdetail .item-info { clear:both; margin:0 auto; overflow:hidden;}
#itemdetail .item-info .product_info { clear:both; }


/* item detail > star point */
#itemdetail .starPoint { margin:0 0 10px 0; padding:0; list-style:none; overflow:hidden; *zoom:1; }
#itemdetail .starPoint li { float:left; margin-right:3px; }
#itemdetail .starPoint li a { text-decoration:none; width:18px; height:18px; background:url(../img/starOff.gif) no-repeat left top; color:#fff; font-size:1px; line-height:0; display:block; }
#itemdetail .starPoint li a.on { background-image:url(../img/starOn.gif); }
#itemdetail .commentArea { margin:0 auto; width:95%; border:1px solid #ddd; height:60px; margin-bottom:10px; font-size:12px; }

#itemdetail .comments { list-style:none; overflow:hidden; padding:0; margin:0; }
#itemdetail .comments li { position:relative; padding:20px; margin-bottom:10px; font-size:11px; color:#666; border:solid #eee 1px; }
#itemdetail .comments .date { float:left; display:block; margin:5px 0 0 0; width:80px; }
#itemdetail .comments .estimate { float:right; display:block; margin:2px 20px 0 0; width:100px; }

#itemdetail .comments .authorBox { float:left; margin:0; width:200px; }
#itemdetail .comments .authorBox a { margin:0 10px 0 0; font:bold 12px Tahoma, Gulim, Dotum; color:#6C832C;}
#itemdetail .comments .btnBox { position:absolute; right:20px; top:20px;}
#itemdetail .comments .contentBox { display:block; overflow:hidden; width:70%;}

/* comment */
#itemdetail .item-review .comments { margin-bottom:20px; }
#itemdetail .item-inquiry .comments { margin-bottom:20px; }

#itemdetail .light_bx_wrp { margin-bottom:40px; padding:10px; background:#f8f8f8; border:0px solid #eee;}
#itemdetail .light_bx_wrp .center { text-align:center;}
#itemdetail .light_bx_wrp .advence_td { padding:10px 30px;}
#itemdetail .light_bx_wrp .commentArea { padding:5px;}
