@charset "utf-8";

/* frontpage css */
#frontpage_widget ul, #frontpage_widget li { margin:0; padding:0; list-style:none;}

#frontpage_widget { clear:both; margin:0; overflow:hidden; width:100%;}

#frontpage_widget .category .title_recommend { position:relative; background:none; border-bottom:1px solid #ddd; overflow:hidden; }

#frontpage_widget .category .title_recommend .title { padding:8px 20px 8px 10px; font:12px Tahoma, Dotum; color:#333; }
#frontpage_widget .category .title_recommend ul { float:right; }
#frontpage_widget .category .title_recommend li { float:left; }
#frontpage_widget .category .title_recommend li a { display:block; padding:5px 10px; margin:5px; font:11px dotum; color:#eee; background:#000; }
#frontpage_widget .category .title_recommend li a:hover { background:#ff6600; }

#frontpage_widget .category .item-list { float:left; width:100%; padding:0; margin:0; } 
#frontpage_widget .category .item-list li { position:relative; float:left; width:17.5%; margin:0 10px 20px 0; text-align:center; }
#frontpage_widget .category .item-list li:last-child { margin-right:0; }
#frontpage_widget .category .item-list li .check { position:absolute; left:0; top:0; }

#frontpage_widget .category .item-list li a.thumbnail { display:block; margin:0 0 10px 0;}
#frontpage_widget .category .item-list li a.thumbnail img{ border:1px solid #eee; max-width:100%; width:280px; padding-bottom:10px;}
#frontpage_widget .category .item-list li .item_name { height:30px; font:0.5em Dotum; color:#7c7c7c; overflow:hidden; text-decoration:none; }
#frontpage_widget .category .item-list li .item_num { padding:5px; height:24px;}
#frontpage_widget .category .item-list li .item_price { padding-top:5px; height:20px; font:0.7em Tahoma,Sans-Serif; color:#646464; }
#frontpage_widget .category .item-list li .item_num .won { padding:0; font:0.7em Gulim,Dotum; color:#666;}
#frontpage_widget .category .item-list li .item_price .won { padding:0; font:0.7em Gulim,Dotum; color:#666;}

#frontpage_widget .category .item-list .quantity { width:50px; }
