@charset "utf-8";

/* style.grid css */

.item-list { padding:10px 0; overflow:hidden; } 
.item-list ul { padding:10px 0; overflow:hidden; }
.item-list li { list-style:none; position:relative; float:left; margin:20px 0 0; padding-bottom:10px; text-align:center; border-bottom:1px solid #ddd; }
.item-list li .check { position:absolute; left:0; top:0; }

.item-list li a.thumbnail { display:block; margin-bottom:20px;}
.item-list li .item_name { height:30px; font:11px Dotum; color:#666;}
.item-list li .item_icon { height:20px;}
.item-list li .item_num { margin:0 auto; padding:5px; height:24px; color:#666;}
.item-list li .item_num .num { position:relative; display:inline-block; width:52px; height:20px; text-align:left; border:1px solid #d2d2d2; }
.item-list li .item_num .num .quantity { padding:2px 0 0 1px; width:48px; font-weight:bold; color:#333; border:0px; }
.item-list li .item_num .num .iconUp { position:absolute; left:33px; top:1px; background:url(../img/icon_up.gif) no-repeat; width:17px; height:10px; }
.item-list li .item_num .num .iconDown { position:absolute; left:33px; top:8px;  background:url(../img/icon_down.gif) no-repeat; width:17px; height:10px; }

.item-list li .item_price { padding:5px; height:20px; font:18px Arial,Sans-Serif; color:#333;}
.item-list li .item_choice { padding:5px; margin-top:10px; }

.item-list li .item_num .won { padding:0 5px; font:12px Gulim,Dotum; color:#666;}
.item-list li .item_price .won { padding:0 5px; font:12px Gulim,Dotum; color:#666;}

.btn_bottom { float:right; _margin-top:20px; }
.btn_bottom a.btn_cart { padding:6px 11px; width:70px; background:url(../img/btn_put.gif) no-repeat; }
.btn_bottom a.btn_wishlist { padding:6px 11px; width:70px; background:url(../img/btn_put.gif) no-repeat; }
.btn_bottom a { float:left; display:block; margin-left:5px; font:11px dotum; color:#eee; letter-spacing:-1px;}
.btn_bottom a:hover { color:#111; }
