@charset "utf-8";

/* category box */

#category-box { margin-bottom:30px; }

/* category-route */
#category-box .category-route ul { list-style:none; padding:0;}
#category-box .category-route ul li { float:left; display:block; line-height:100%; padding:0 5px 10px;}
#category-box .category-route ul li a {color:#666; text-decoration:none; font-size:11px; margin-left:12px;}
#category-box .category-route ul li a:hover {color:#000; text-decoration:underline;}
#category-box .category-route .h_btn {background:url(../img/btn/h_btn.gif) no-repeat; font-size:11px; }


/* category-list */
#category-box .category-list { clear:both; padding:6px 20px;  border:solid #f89f12 2px; border-radius:.7em; overflow:hidden; _height:100%;}
#category-box .category-list #current-category {width:200px; float:left; font-size:20px; font-weight:600; color:#f89f12; padding-right:10px; cursor:pointer; background:url(../img/btn/btn_b.png) no-repeat; background-position:160px 6px;}
#category-box .category-list #current-category.rollbtn {float:left; background-position:160px -15px; }
#category-box .category-list .cate_list { width:70%; border-left:2px solid #f89f12; float:left; height:100%; padding-left:20px;}
#category-box .category-list .cate_list ul.children { font-size:12px; overflow:hidden; list-style:none; letter-spacing:-0.5px; padding:0; margin:0; text-align:justify; }
#category-box .category-list .cate_list ul.children li { display:inline;  list-style:none outside none; line-height:2.3; white-space:nowrap;}
#category-box .category-list .cate_list ul.children li a {margin-right:20px;}
#category-box .category-list a { color:#666; text-decoration:none; }
#category-box .category-list a:hover { color:#1999A2; text-decoration:underline;}
#category-box .category-list a.active { color:#1999A2; background:none;}

/* siblings */
#category-box #siblings { display:none; position:absolute; border:2px solid #f89f12; background:#fff; width:210px; z-index:1; padding:10px; margin:-8px 0 0 0; border-top:0; }
#category-box #siblings li { display:block; line-height:2.2em; padding-left:5px; }
#category-box #siblings li a { text-decoration:none; color:#333; font-size:11px;}
#category-box #siblings li a:hover { text-decoration:underline; color:#1999A2;}

/* black */
#category-box .category-list.black { border:4px solid #333;}
#category-box .category-list.black a { color:#c5c5c5;}
#category-box .category-list.black a:hover { color:#3f5eac;}
#category-box .category-list.black ul li .depth1 { background:#343434; padding:2px 8px;}
#category-box .category-list.black ul li.depth2 a { font-size:12px; color:#aeaeae;} 
#category-box .category-list.black ul li.depth3 a { font-size:11px; color:#888;}
