@charset "utf-8";

.cartStep .progress.step2 { background:url(../img/progress_step2.png) no-repeat right 20px;}

#orderitems .item-table tr td.item_name { padding:20px; text-align:left; color:#6c832c;}

#orderitems h3 { font-size:12px; margin-top:30px; height:28px; color:#666;}

#orderitems .order-table input { margin:0; padding:0; height:18px;}

#orderitems .payment-table { float:left; width:100%; border-top:1px solid #ddd; border-bottom:1px solid #eee;}
#orderitems .address_input { list-style:none; }
#orderitems .address_input .list-title { width:100px; display:inline-block; }
#orderitems .address_input input { width:400px; }
#orderitems .inputboxL { width:280px; height:18px;}


/* black */
#orderitems.black .order-table input { background:transparent; border:1px solid #343434;}
#orderitems.black .payment-table { border-top:1px solid #343434; border-bottom:1px solid #343434;}

/* fieldset */
.fieldset table {border-top:1px solid #c4c4c4; width:100%;}
.fieldset th {border-bottom:1px solid #ededed; color:#666; padding:8px 20px; width:17.6%; text-align:left; background:#f8f8f8; }
.fieldset td {border-bottom:1px solid #ededed; color:#666; padding:5px 5px 5px 10px; width:82%; overflow:hidden}
/* for XE 1.7 under versions */
.fieldset .krZip .a input.current_address,
.fieldset .krZip .a input.addr3_input,
.fieldset .krZip .a input.addr_second { width:300px; }
.fieldset .krZip .a.address2 input { width:200px; }
/* for XE 1.8 upper versions */
.fieldset .krZip input.krzip-postcode { width:120px; }
.fieldset .krZip input.krzip-search { width:80px; margin:0; margin-bottom:3px; }
.fieldset .krZip input.krzip-roadAddress { width:60%; margin:0; margin-bottom:3px; }
.fieldset .krZip input.krzip-jibunAddress { width:60%; margin:0; margin-bottom:3px; }
.fieldset .krZip input.krzip-extraAddress { width:60%; margin:0; margin-bottom:3px; }

.fieldset textarea { width:60%; border:1px solid #ccc; padding:1px; }
.fieldset input { width:60%; border:1px solid #ccc; padding:3px; margin:3px 0; }
.fieldset li {float:left; list-style:none;}

.fieldset .destination ul {padding:0; margin:0;}
.fieldset .destination li {margin:3px 5px 0 0;}
.fieldset .destination input {width:15px; float:left; border:0; margin-top:1.5px; }
.fieldset .destination label {padding-left:3px; float:left; line-height:1.6em;}

.fieldset .radio ul {padding:0; margin:0;} 
.fieldset .radio input {width:13px; float:left; border:0;}
.fieldset .radio label {float:left; line-height:2em; padding:0 10px 0 5px;}
.fieldset .radio p {clear:both; padding-top:10px; *padding:0;}

.fieldset .tel {padding:4px;} 
.fieldset .tel input {width:70px; margin:3px 5px;}
.fieldset .tel p {padding-left:4px;}

.fieldset .checkbox input {width:15px; float:left; border:0; }
.fieldset .checkbox label {float:left; line-height:1.6em; *line-height:2em; padding:0 20px 0 5px;}
.fieldset .checkbox ul {padding:0; margin:0;}
.fieldset .checkbox p {clear:both; padding-top:10px; float:left;}

.fieldset .date input {width:100px; padding:3px;}
.fieldset .date input.dateRemover {width:50px; padding:2px;}
