@charset "utf-8";

/* frontpage css */
#recommend_wrappper ul, #recommend_wrappper li { margin:0; padding:0; list-style:none;}

#recommend_wrappper #recommend_products{height:232px; width:649px; float:left; margin:0; overflow:hidden; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc;}

#recommend_products .category .title_recommend { position:relative; background:none; border-bottom:1px solid #ddd; overflow:hidden; }

#recommend_products .category .title_recommend .title { padding:8px 20px 8px 10px; font:12px Tahoma, Dotum; color:#333; }
#recommend_products .category .title_recommend ul { float:right; }
#recommend_products .category .title_recommend li { float:left; }
#recommend_products .category .title_recommend li a { display:block; padding:5px 10px; margin:5px; font:11px dotum; color:#eee; background:#000; }
#recommend_products .category .title_recommend li a:hover { background:#ff6600; }

#recommend_products .category .item-list {padding:5px 0 0 0;  } 
#recommend_products .category .item-list ul {padding:0; margin:20px 0 0 10px; list-style:none;}
#recommend_products .category .item-list li { position:relative; float:left; margin:0; padding:0 0 0 13px; text-align:center; width:110px;}
#recommend_products .category .item-list li .check { position:absolute; left:0; top:0; }

#recommend_products .category .item-list li a.thumbnail { display:block; margin:0 0 10px 0;}
#recommend_products .category .item-list li a.thumbnail img{border:1px solid #e5e5e5;}
#recommend_products .category .item-list li .item_name { height:40px; font:11px Dotum; color:#666; overflow:hidden;}
#recommend_products .category .item-list li .item_num { padding:5px; height:24px;}
#recommend_products .category .item-list li .item_price { padding:5px; height:20px; font:14px Tahoma,Sans-Serif; color:#333;}
#recommend_products .category .item-list li .item_num .won { padding:0; font:12px Gulim,Dotum; color:#666;}
#recommend_products .category .item-list li .item_price .won { padding:0; font:12px Gulim,Dotum; color:#666;}

#recommend_products.category .item-list .quantity { width:50px; }

/* top */
#recommend_wrappper .recommend_promotion{float:left; width:330px; height:233px;}
