<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants/>
	<permissions/>
	<menus>
		<menu name="paynotyConfig">
			<title xml:lang="ko">상품주문 알림설정</title>
			<title xml:lang="en">Paynoty Configuration</title>
		</menu>
	</menus>
	<actions>
		<!-- admin view -->
		<action name="dispPaynotyAdminConfig" type="view" admin_index="true" menu_name="paynotyConfig" menu_index="true"/>

		<!-- admin controller -->
		<action name="procPaynotyAdminConfig" type="controller"/>
	</actions>
</module>
