@charset "utf-8";

/* frontpage css */
#frontpage_widget ul, #frontpage_widget li { margin:0; padding:0; list-style:none;}

#frontpage_widget { clear:both; margin:0; overflow:hidden; width:100%;}

#frontpage_widget .category .title_recommend { position:relative; background:none; border-bottom:1px solid #ddd; overflow:hidden; }

#frontpage_widget .category .title_recommend .title { padding:8px 20px 8px 10px; font:12px Tahoma, Dotum; color:#333; }
#frontpage_widget .category .title_recommend ul { float:right; }
#frontpage_widget .category .title_recommend li { float:left; }
#frontpage_widget .category .title_recommend li a { display:block; padding:5px 10px; margin:5px; font:11px dotum; color:#eee; background:#000; }
#frontpage_widget .category .title_recommend li a:hover { background:#ff6600; }

#frontpage_widget .category .item-list { width:100%; } 
#frontpage_widget .category .item-list td a { text-decoration:none; color:#4d4d4d; } 
#frontpage_widget .category .item-list a.thumbnail { display:block; margin:0 0 10px 0;}
#frontpage_widget .category .item-list a.thumbnail img{border:1px solid #e5e5e5;}
#frontpage_widget .category .item-list .item_name { font:11px Dotum; color:#666; overflow:hidden; text-decoration:none; }
#frontpage_widget .category .item-list .item_num { }
#frontpage_widget .category .item-list .item_price { width:140px; font:12px Tahoma,Sans-Serif; color:#4d4d4d;}
#frontpage_widget .category .item-list .item_num .won { padding:0; font:12px Gulim,Dotum; color:#666;}
#frontpage_widget .category .item-list .item_price .won { padding:0; font:12px Gulim,Dotum; color:#666;}
#frontpage_widget .category .item-list .quantity { width:50px; }
