@charset "utf-8";

/* style.grid css */

.item-list { overflow:hidden; min-height:400px; padding:0; }
.item-list li { position:relative; float:left; margin:20px 0 0; padding-bottom:10px; text-align:center; list-style:none; }
.item-list li .check { position:absolute; left:0; top:0; }

.item-list li a.thumbnail { display:block; margin-bottom:20px;}
.item-list li .item_name { height:22px; font:normal 16px 'Malgun Gothic'; }
.item-list li .item_name a { color:#555; text-decoration:none; }
.item-list li .item_icon { height:20px;}
.item-list li .item_num { margin:0 auto; padding:5px; height:24px; color:#666;}
.item-list li .item_num .num { position:relative; display:inline-block; width:52px; height:20px; text-align:left; border:1px solid #d2d2d2; }
.item-list li .item_num .num .quantity { padding:2px 0 0 1px; width:48px; font-weight:bold; color:#333; border:0px; }
.item-list li .item_num .num .iconUp { position:absolute; left:34px; top:1px; background:url(../img/icon_up.gif) no-repeat; width:17px; height:10px; cursor:pointer; }
.item-list li .item_num .num .iconDown { position:absolute; left:34px; top:8px;  background:url(../img/icon_down.gif) no-repeat; width:17px; height:10px; cursor:pointer; }

.item-list li .item_price { padding:5px; height:18px; font:16px 'Malgun Gothic'; color:#155b6c; }
.item-list li .item_choice { padding:5px; margin-top:6px; }

.item-list li .item_num .won { padding:0 5px; font:12px Gulim,Dotum; color:#666;}
.item-list li .item_price .won { padding:0 5px; font:12px Gulim,Dotum; color:#666;}

.btn_bottom { float:right; _margin-top:20px; }
.btn_bottom a.btn_cart { padding:4px 11px; width:70px; background:url(../img/btn_put.gif) no-repeat; }
.btn_bottom a.btn_wishlist { padding:4px 11px; width:70px; background:url(../img/btn_put.gif) no-repeat; }
.btn_bottom a { float:left; display:block; margin-left:5px; font:11px dotum; color:#eee; letter-spacing:-1px;}
.btn_bottom a:hover { color:#111; }
